.diarydrawer {
  background-color: $note-color;
  width: 250px;
  margin: 10px;
  border-radius: $b-radius;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);

  .MuiPaper-root {
    width: 250px;
    max-height: 500px;
    height: 100%;
    margin: 25px;
    border-radius: $b-radius;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    background-color: $note-color;
  }
  @media (max-width: 1100px) {
    .MuiPaper-root {
      width: calc(100% - 30px);
      height: 100vh;
      margin: 15px 0;
      left: 15px;
      right: 15px;
    }
  }

  .drawer-content {
    padding: 16px;
    background-color: $note-color;
  }
  @media (max-width: 1100px) {
    .drawer-content {
      padding: 16px;
      height: 100%;
    }
  }
  .title {
    justify-content: space-between;
    font-weight: 600;
    color: $brown-accent;
  }

  button {
    color: $text-white;
    background-color: $note-color;
    border: none;
    border-radius: $b-radius;
  }
  .open-drawer-icon {
    color: $text-white;
    position: fixed;
    top: 20px;
    left: 20px;
  }

  .close-btn {
    &:hover {
      color: $brown-accent;
    }
  }

  .menu-item {
    border-radius: $b-radius;
    color: $text-white;
  }

  .menu-icon {
    margin-right: 10px;
  }
}
