$light-yellow: #f4d35e;
$light-brown: #d4a373;
$brown-accent: #b5835a;
$border-color: #ddd;
$background-color: rgb(25, 25, 25);
$note-color: #25282a;
$text-white: #f9f9f9;
$error: #d65858;
$b-radius: 25px;

@import "components/diarydrawer";
@import "components/login";
@import "pages/settingspage";

.app {
  max-width: 800px !important;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
  position: relative;
  height: 100vh;
  transition: margin-left 0.3s ease;
  width: 100%;

  @media (max-width: 1100px) {
    padding-top: 60px;
  }
  @media (max-width: 600px) {
    max-width: 100%;
    padding: 60px 10px 10px 10px;
  }
  .user-info {
    margin: 20px 0;
    border: 1px solid green($color: #000000);
  }

  &.drawer-open {
    margin-left: 300px;
    @media (max-width: 1100px) {
      margin-left: auto;
    }
  }

  .page-container {
    overflow-y: auto;
    color: $text-white;
    background-color: $note-color;
    padding: 20px 20px 30px 20px;
    border-radius: $b-radius;
    .btn-wrapper {
      display: flex;
      justify-content: space-between;
    }
  }

  .notes-container {
    color: $text-white;
    overflow-y: auto;
    padding-bottom: 130px;
  }

  .note {
    color: $text-white;
    background-color: $note-color;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: $b-radius;
    word-wrap: break-word;
    word-break: break-word;
    .note-date {
      color: $brown-accent;
    }
  }

  .new-note-container {
    display: flex;
    align-items: center;
    position: fixed;
    bottom: 20px;
    width: 90%;
    max-width: 750px;
    background-color: $note-color;
    border-radius: $b-radius;
    border: 2px solid $background-color;
    box-shadow: 0px 0px 14px 6px $background-color;

    .new-note-input {
      border-radius: 15px !important;
      flex-grow: 1;
      border-radius: $b-radius;
      border: none;
    }
    .css-xrmkj5-MuiInputBase-root-MuiOutlinedInput-root {
      border-radius: $b-radius;
      background-color: $background-color;

      margin: 10px;
    }

    .send-button {
      color: $light-brown;
      &:disabled {
        color: grey;
      }
      &:hover {
        color: $text-white;
        background-color: $brown-accent;
      }
    }
  }

  .logout-button {
    &:hover {
      color: $error;
    }
  }

  textarea {
    color: $text-white;
  }
}
