.app {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
}

.notes {
  margin-bottom: 20px;
}

.note {
  background-color: #f9f9f9;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
  border: 1px solid #ddd;
}

.new-note {
  display: flex;
  flex-direction: column;
}

textarea {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
  border: 1px solid #ddd;
}

button {
  padding: 10px;
  border: none;
  background-color: #a84d97;
  color: white;
  cursor: pointer;
  border-radius: 4px;
}

button:hover {
  background-color: #922c81;
}
